parameters:
	level: 8
	paths:
		- boot
		- config
		- htdocs
		- src
		- tests
	bootstrapFiles:
		- boot/constants.php

	tmpDir: tmp

	ignoreErrors:
		-
			identifier: property.onlyRead
			path: src/Entity
		-
			identifier: property.onlyWritten
			path: src/Entity
		-
			identifier: property.unused
			path: src/Entity

includes:
  - ./vendor/zorac/phpstan-php-di/extension.neon