[client]
port=3306
default-character-set = utf8mb4


[mysql]
default-character-set=utf8


[mysqld]
port=3306
max_allowed_packet=16M


character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

log_bin_trust_function_creators=1

event_scheduler=on

lower_case_table_names=0

#
# InnoDB
#
# InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
# Read the manual for more InnoDB related options. There are many!
# Most important is to give InnoDB 80 % of the system RAM for buffer use:
# https://mariadb.com/kb/en/innodb-system-variables/#innodb_buffer_pool_size
innodb_buffer_pool_size = 128M
;innodb_log_file_size=512M
innodb_ft_min_token_size = 2
innodb_file_per_table=1
innodb_flush_log_at_trx_commit=0
;innodb_write_io_threads=8
innodb_force_recovery=0
